
    body{background-repeat: no-repeat;
        background-size: cover;
     background-image: url(./sppu-engineeringi-img.jfif);
    }
    .container{
        position: absolute;
        margin: left 30%;
        height: 1500px;
        width: 1100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./marksheetbackground.jfif);
        filter: brightness(80%);
        margin-left:25%;
        border: solid 1px;
        filter: brightness(110%);
    }
    .one{border: solid 2px rgb(204, 13, 13);
       
        margin: 90px;
        height: 1380px;
        width: 920px;
       
       
        
        
    }
    img{
        width: 100px;
        height: 100px;
       margin: 10px;
    }
   hr{
       margin-top: 60px;
   }
   input{ border-style: none;
          border-bottom-style:dotted ;
          font-size: 20px;
       width: 250px;
       height:35px;
   }
  h1{
      padding-top: 10px;
      color: rgb(49, 15, 35)
  }
 
#info{
    margin-left: 20px;
    font-size: 18px;
    border-radius: 20px;
   

    
}
td,th{
   padding: 15px;
   text-align: left;
   font-size: 22px;
}
#sub{
     font-size: 22px;
}
 
